:root {
  --font-family-primary: "Roboto", sans-serif;
  --font-family-secodary: "Raleway", sans-serif;
  --font-color-primary: #757575;
  --font-color-secondary: #212121;
  --font-color-footer: rgba(255, 255, 255, 0.6);
  --letter-spacing-priority: 0.03em;
  --color-white: #ffffff;
  --color-accent: #2196f3;
  --color-accent-hover: #188ce8;
  --color-logo: #000000;
  --color-icon-primary: #afb1b8;
  --background-color-secondary: #f5f4fa;
  --background-color-footer: #2f303a;
  --background-color-filter-btn: #f5f4fa;
  --standart-transition-time: 250ms;
  --standart-cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

body {
  font-family: var(--font-family-primary);
  color: var(--font-color-primary);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
p {
  margin: 0;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

@media screen and (max-width: 1199px) {
  .section_padding-top {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .section_padding-top {
    padding-top: 0;
  }
}

.section_bg-color {
  background-color: var(--background-color-secondary);
}

.section-title {
  font-size: 28px;
  font-weight: 700;
  line-height: 1.1785714286;
  text-align: center;
  letter-spacing: var(--letter-spacing-priority);
  color: var(--font-color-secondary);
}
@media screen and (min-width: 1200px) {
  .section-title {
    font-size: 36px;
    line-height: 1.1666666667;
  }
}

.section-title_margin-b {
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .section-title_margin-b {
    margin-bottom: 50px;
  }
}

.container {
  padding: 0 15px;
}
@media screen and (min-width: 480px) {
  .container {
    margin: 0 auto;
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.hero__btn {
  transition-property: background-color;
  transition-duration: var(--standart-transition-time);
  transition-timing-function: var(--standart-cubic-bezier);
  padding-top: 10px;
  padding-right: 32px;
  padding-bottom: 10px;
  padding-left: 32px;
  border-radius: 4px;
  border: 0px;
  font-family: inherit;
  font-style: normal;
}
.hero__btn:hover, .hero__btn:focus {
  background-color: var(--color-accent-hover);
}

.logo {
  font-family: var(--font-family-secodary);
  font-size: 24px;
  font-weight: 700;
  line-height: 1.1666666667;
  letter-spacing: var(--letter-spacing-priority);
  color: var(--color-accent);
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    font-weight: disable;
    line-height: 1.1923076923;
  }
}

@media screen and (min-width: 768px) {
  .logo__page-header {
    margin-right: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .logo__page-header {
    margin-right: 93px;
  }
}

.logo__header-color {
  color: var(--color-logo);
}

@media screen and (max-width: 767px) {
  .mobile-menu__container {
    position: relative;
    padding-top: 48px;
    padding-left: 40px;
    padding-bottom: 48px;
  }
  .mobile-menu {
    position: fixed;
    height: 100%;
    width: 100%;
    max-height: 796px;
    z-index: 999;
    top: 0;
    left: 0;
    background-color: var(--color-white);
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition-property: opacity;
    transition-duration: var(--standart-transition-time);
    transition-timing-function: var(--standart-cubic-bezier);
  }
  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .mobile-menu__close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
  }
  .mobile-menu__close-icon {
    line-height: 0;
    fill: var(--font-color-secondary);
  }
  .mobile-menu__close-icon:hover, .mobile-menu__close-icon:focus {
    fill: var(--color-accent);
  }
  .mobile-menu-nav {
    font-size: 40px;
    font-weight: 500;
    line-height: 1.175;
    letter-spacing: 0.02em;
    margin-bottom: 308px;
  }
  .mobile-menu-nav__item:not(:last-child) {
    margin-bottom: 32px;
  }
  .mobile-menu-nav__link {
    color: var(--font-color-secondary);
  }
  .mobile-menu-nav__link:hover, .mobile-menu-nav__link:focus {
    color: var(--color-accent);
  }
  .mobile-menu-address {
    margin-bottom: 64px;
  }
  .mobile-menu-address__item:not(:last-child) {
    margin-bottom: 32px;
  }
  .mobile-menu-address__link_tel {
    font-size: 34px;
    font-weight: 500;
    line-height: 1.1764705882;
    display: block;
    letter-spacing: 0.02em;
    color: var(--color-accent);
  }
  .mobile-menu-address__link_email {
    font-size: 24px;
    font-weight: 500;
    line-height: 1.1666666667;
    display: block;
    letter-spacing: 0.02em;
    color: var(--font-color-primary);
  }
  .mobile-menu-social {
    display: flex;
  }
  .mobile-menu-social__item:not(:last-child) {
    padding-right: 10px;
  }
  .mobile-menu-social__item:not(:first-child) {
    padding-left: 10px;
    border-left: 1px solid rgba(33, 33, 33, 0.2);
  }
  .mobile-menu-social__link {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.2222222222;
    color: var(--color-accent);
  }
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
.button {
  color: var(--color-white);
  background-color: var(--color-accent);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.06em;
  cursor: pointer;
}

.page-header {
  border-bottom: 1px solid #ececec;
}
@media screen and (min-width: 768px) {
  .page-header {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.1428571429;
    letter-spacing: 0.02em;
  }
}

@media screen and (max-width: 767px) {
  .container__page-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
@media screen and (min-width: 768px) {
  .container__page-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

@media screen and (min-width: 768px) {
  .page-nav {
    display: flex;
    align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .menu {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .menu {
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .menu__item:not(:last-child) {
    margin-right: 50px;
  }
}

@media screen and (min-width: 768px) {
  .menu__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    transition-property: color;
    transition-duration: var(--standart-transition-time);
    transition-timing-function: var(--standart-cubic-bezier);
    color: var(--font-color-secondary);
  }
  .menu__link:hover, .menu__link:focus {
    color: var(--color-accent);
  }
}

@media screen and (min-width: 768px) {
  .menu__link_current {
    position: relative;
    color: var(--color-accent);
  }
  .menu__link_current::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    left: 0;
    bottom: -1px;
    border-radius: 2px;
    background-color: var(--color-accent);
  }
}

.mobile-menu-open {
  background-color: transparent;
  border: none;
  padding: 0;
}

@media screen and (max-width: 767px) {
  .mobile-menu-open-icon {
    line-height: 0;
    fill: var(--font-color-secondary);
  }
  .mobile-menu-open-icon:hover, .mobile-menu-open-icon:focus {
    fill: var(--color-accent);
  }
}
@media screen and (min-width: 768px) {
  .mobile-menu-open-icon {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .contact {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .contact {
    display: flex;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contact__item:not(:last-child) {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .contact__item:not(:last-child) {
    margin-right: 30px;
    height: 12px;
  }
}

@media screen and (min-width: 768px) {
  .contact__link {
    display: flex;
    align-items: center;
    color: var(--font-color-primary);
    transition-property: color;
    transition-duration: var(--standart-transition-time);
    transition-timing-function: var(--standart-cubic-bezier);
  }
  .contact__link:hover, .contact__link:focus {
    color: var(--color-accent);
  }
}

@media screen and (min-width: 768px) {
  .contact__icon {
    fill: currentColor;
    margin-right: 10px;
  }
}

.hero {
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
  height: 400px;
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #2f303a;
  background-size: cover;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/tel/Hero/img.jpg);
}
@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px), screen and (min-resolution: 192dpi) and (max-width: 767px), screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .hero {
    background-image: url(../../images/tel/Hero/img@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/tab/Hero/img.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url(../../images/tab/Hero/img@2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    height: 600px;
    max-width: 1600px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/desk/Hero/img.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url(../../images/desk/Hero/img@2x.jpg);
  }
}

.hero__title {
  margin-bottom: 30px;
  font-size: 26px;
  font-weight: 900;
  line-height: 1.6153846154;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--color-white);
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.3636363636;
  }
}

@media screen and (min-width: 768px) {
  .benefits-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}
.benefits-list__wrapper {
  display: flex;
  justify-content: center;
  padding: 25px 0;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: var(--background-color-secondary);
}

@media screen and (max-width: 767px) {
  .benefits-list__item {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .benefits-list__item {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .benefits-list__item {
    flex-basis: calc((100% - 90px) / 4);
  }
}

.benefits-list__icon {
  width: 70px;
  height: 70px;
}

.benefits-list__title {
  margin-bottom: 10px;
  color: var(--font-color-secondary);
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: var(--letter-spacing-priority);
  text-transform: uppercase;
}
@media screen and (max-width: 767px) {
  .benefits-list__title {
    text-align: center;
  }
}

.benefits-list__text {
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: var(--letter-spacing-priority);
}

@media screen and (min-width: 1200px) {
  .doing-list {
    display: flex;
  }
  .doing-list__item {
    position: relative;
  }
  .doing-list__item:not(:last-child) {
    margin-right: 30px;
  }
  .doing-list__text {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 70px;
    left: 0;
    bottom: 0;
    font-size: 14px;
    line-height: 1.1428571429;
    letter-spacing: var(--letter-spacing-priority);
    text-transform: uppercase;
    color: var(--color-white);
    background-color: rgba(47, 48, 58, 0.8);
  }
}/*# sourceMappingURL=main.css.map */