body {
    font-family: var(--font-family-primary);
    color: var(--font-color-primary);
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
p {
    margin: 0;
}