:root {
  --font-family-primary: 'Roboto', sans-serif;
  --font-family-secodary: 'Raleway', sans-serif;
  --font-color-primary: #757575;
  --font-color-secondary: #212121;
  --font-color-footer: rgba(255, 255, 255, 0.6);

  --letter-spacing-priority: 0.03em;

  --color-white: #ffffff;
  --color-accent: #2196f3;
  --color-accent-hover: #188ce8;
  --color-logo: #000000;
  --color-icon-primary: #afb1b8;

  --background-color-secondary: #f5f4fa;
  --background-color-footer: #2f303a;
  --background-color-filter-btn: #f5f4fa;

  --standart-transition-time: 250ms;
  --standart-cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
}
