@media screen and(min-width:768px) {
  .benefits-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}

.benefits-list__wrapper {
  display: flex;
  justify-content: center;
  padding: 25px 0;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: var(--background-color-secondary);
}

.benefits-list__item:not(:last-child) {
  @media screen and (max-width: 767px) {
    margin-bottom: 30px;
  }
}
.benefits-list__item {
  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 30px) / 2);
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 90px) / 4);
  }
}

.benefits-list__icon {
  width: 70px;
  height: 70px;
}

.benefits-list__title {
  @media screen and(max-width:767px) {
    text-align: center;
  }
  margin-bottom: 10px;

  color: var(--font-color-secondary);

  @include font(14px, false, 16px);
  letter-spacing: var(--letter-spacing-priority);
  text-transform: uppercase;
}

.benefits-list__text {
  @include font(14px, false, 24px);
  letter-spacing: var(--letter-spacing-priority);
}
